{% extends 'base.html' %}
{% block head_title %}
    {{ post.title }} |{{ block.super }}
{% endblock %}
{% block content %}
    
    <div class="col-sm-6">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="img-fluid">
        {% endif %}
        <h1>{{ post.title }} <small>{{ post.timestamp }}</small></h1>
        {%if post.user.get_full_name %}
            <h3>{{ post.user.get_full_name }}</h3>
        {%endif%}
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
        {{ post.content | linebreaks}}
        <!-- 
            for doing {{ share_string }} you can also use your custom templates in django
            ref vid 31 try django 19
        -->

        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            Share on Facebook
        </a>
        
        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
                Share on Twitter
        </a>
        
        <a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>Share on Google+</a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
            Share on Linkedin
        </a>

        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}">Share on Reddit</a>
    </div>

    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
{% endblock content %}